@import 'variables';

.small-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: $Base100;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;

    font-weight: bolder;
    font-size: larger;

    .label {
        font-weight: bolder;
        font-size: small;
        color: $Gray700;
        margin-bottom: 5px;
    }
}

.expenditure {
    color: $Expenditure;
}

.revenue {
    color: $Revenue;
}