@import 'variables';
@import 'mixins';

.h1 {
  font-family: $base-font;
  font-size: 28px;
  font-weight: bolder;
  line-height: 1;
  margin: 0;
}

.h2 {
  font-family: $base-font;
  font-size: 23px;
  font-weight: bolder;
  line-height: 1;
  margin: 0;
}

.h3 {
  font-family: $base-font;
  font-size: 18px;
  font-weight: bolder;
  line-height: 1;
  margin: 0;
}

.h1-tab {
  font-family: $base-font;
  font-size: 26px;
  font-weight: bolder;
  line-height: 1;
  margin: 0;
  color: $Gray;
  transition: all .3s ease;

  &.active {
    color: $black;
    transform: scale(1.077);
  }

  &:hover {
    @include respond-to(desktop) {
      cursor: pointer;
      color: $black;
      transform: scale(1.077);
    }
  }
}

.fullSize {
  width: 100%;
  min-height: 100%;
}

.underGroupLabel {
  margin-top: 30px;
  margin-bottom: 5px;
  font-size: smaller;
  font-weight: bolder;
  color: $Gray500;
}

.inline-flex {
  display: flex;
  flex-direction: row;
  align-items: center;

  &.space-between {
    justify-content: space-between;
  }
}

.ml {
  &5 {
    margin-left: 5px;
  }

  &10 {
    margin-left: 10px;
  }

  &15 {
    margin-left: 15px;
  }

  &20 {
    margin-left: 20px;
  }
}

.mr {
  &5 {
    margin-right: 5px;
  }

  &10 {
    margin-right: 10px;
  }

  &15 {
    margin-right: 15px;
  }

  &20 {
    margin-right: 20px;
  }
}

.mb {
  &5 {
    margin-bottom: 5px;
  }

  &10 {
    margin-bottom: 10px;
  }

  &15 {
    margin-bottom: 15px;
  }

  &20 {
    margin-bottom: 20px;
  }
}

.mt {
  &5 {
    margin-top: 5px;
  }

  &10 {
    margin-top: 10px;
  }

  &15 {
    margin-top: 15px;
  }

  &20 {
    margin-top: 20px;
  }
}

.clickable {
  cursor: pointer;
}

.groupWrapper {
  padding: 10px;
  border-radius: $BorderRadius;
  background-color: $Base100;
  margin-bottom: 5px;
}

.note {
  font-weight: normal;
  font-size: smaller;

  &.error {
    color: $Red300;
  }
}

.small-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: $Base100;
  padding: 10px;
  //margin: 5px;
  border-radius: $BorderRadius;

  font-weight: bolder;
  font-size: medium;

  &.white {
    background: $white
  }

  .label {
    font-weight: bolder;
    font-size: small;
    color: $Gray700;
    margin-bottom: 5px;
  }
}

.operation-segment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px;
  margin: 5px;

  font-weight: bolder;
  font-size: medium;

  .label {
    font-weight: bolder;
    font-size: small;
    color: $Gray700;
    margin-bottom: 5px;
  }
}

.input-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: $white;
  padding: 5px 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: $BorderRadius;

  font-weight: normal;
  font-size: medium;
}

.card {
  background-color: $white;
  border-radius: $BorderRadius;
  padding: 10px;
  width: 100%;
  margin-bottom: 10px;

  &:active {
    transition: all .1s ease;
    background-color: $Secondary0;
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}

.expenditure {
  color: $Expenditure;
  font-family: $base-font;
}

.revenue {
  color: $Revenue;
  font-family: $base-font;
}

ion-datetime {
  //--background: #fff1f2;
  --background-rgb: 255, 241, 242;
  border-radius: 16px;
}


ion-modal.datetime-modal {
  --border-radius: 16px;
}

ion-modal.datetime-modal::part(backdrop) {
  opacity: 1;
}

.hover {
  @include respond-to(desktop) {
    transition: all .3s ease;
  }

  &:hover {
    @include respond-to(desktop) {
      cursor: pointer;
      transform: translateY(-3px);
      box-shadow: 0 8px 24px rgba(31, 34, 42, .05), 0 2px 6px rgba(31, 34, 42, .02), 0 0 1px rgba(31, 34, 42, .02);
    }
  }
}